/* Reset CSS */
@import "./reset.css";

:root {
  --bg-color-dark: #333333;
  --bg-color-light: #eaeaea;
  --bg-color-blue: #2690d4;
  --font-color-dark: #333333;
  --font-color-light: #ffffff;
  --font-size-h1: 35.2px;
  --font-size-h2: 26.4px;
  --font-size-h3: 20px;
  --font-size-p: 17.6px;
}

/* Common styles */
.container {
  max-width: 880px;
  padding: 0 26.4px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

main {
  background-color: var(--bg-color-light);
}

/* Header */
.header {
  min-height: 450px;
  text-align: center;
  background-color: var(--bg-color-dark);
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.5),
      rgba(51, 51, 51, 0.5)
    ),
    url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
  color: var(--bg-color-light);
}

.header h1 {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

.header p {
  font-size: var(--font-size-p);
}

.header-btn {
  font-size: var(--font-size-p);
  background-color: var(--bg-color-dark);
  color: var(--font-color-light);
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 18px 35px;
  border: 1px solid #666;
}

.header-btn:hover {
  background-color: var(--bg-color-light);
  color: var(--font-color-dark);
}

@media screen and (max-width: 700px) {
  .header {
    min-height: 100dvh;
  }
  .header-btn {
    margin-top: 20px;
  }
}

/* Section A */
.about-section {
  padding-top: 26.4px;
  padding-bottom: 35.2px;
  background-color: var(--bg-color-light);
  text-align: center;
}

.about-section-container {
  display: flex;
  flex-direction: column;
  gap: 26.4px;
  background-color: var(--bg-color-light);
  color: var(--font-color-dark);
}

.about-section-title {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.about-section-content-wrapper {
  columns: 2 auto;
  column-gap: 20px;
}

.about-section-content {
  font-size: var(--font-size-p);
}

@media screen and (max-width: 700px) {
  .about-section-content-wrapper {
    columns: 1 auto;
  }
}

/* Section B */
.services-section {
  background-color: var(--bg-color-dark);
  padding: 35.2px 0;
  text-align: center;
}

.services-section-list {
  display: flex;
  justify-content: space-between;
}

.services-list-item {
  max-width: 31.5%;
  display: flex;
  flex-direction: column;
  background-color: var(--font-color-light);
  color: var(--font-color-dark);
  text-align: center;
}
.services-list-item-content-wrapper {
  padding: 44px 17.6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 38px;
}

.services-list-item-content-wrapper h3 {
  font-size: var(--font-size-h3);
  font-weight: bold;
}

.services-list-item-content-wrapper p {
  font-size: var(--font-size-p);
}

@media screen and (max-width: 700px) {
  .services-section-list {
    flex-direction: column;
    gap: 20px;
  }
  .services-list-item {
    max-width: 100%;
  }
}

/* Section C */
.benefits-section {
  /* padding-top: 35.2px;
  padding-bottom: 35.2px; */
  padding: 35.2px 0;
  background-color: var(--font-color-light);
  text-align: center;
}

.benefits-section-container {
  padding-top: 26.4px;
  padding-bottom: 17.6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}

.benefits-section h2 {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.benefits-section p {
  font-size: var(--font-size-p);
  max-width: 920px;
  padding: 0 20px;
}

/* Section D */
.contact-section-list {
  display: flex;
  text-align: center;
}

.contact-section-list-item-blue,
.contact-section-list-item-black {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 62.6px 35.2px 52.8px;
  color: var(--font-color-light);
  gap: 44px;
}

.contact-section-list-item-blue {
  background-color: var(--bg-color-blue);
}

.contact-section-list-item-blue > p:last-of-type {
  margin-top: -8.8px;
}

.contact-section-list-item-black {
  background-color: var(--bg-color-dark);
}

.contact-section h2 {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.contact-section p {
  font-size: var(--font-size-p);
}

@media screen and (max-width: 700px) {
  .contact-section-list {
    flex-direction: column;
  }
  .contact-section-list-item-blue,
  .contact-section-list-item-black {
    width: 100%;
  }
}

/* Footer */
.footer {
  background-color: black;
  padding: 35.2px 0;
  color: var(--font-color-light);
  display: flex;
  font-size: var(--font-size-p);
}

.footer-link,
.footer-logo {
  width: 50%;
  text-align: center;
}

.footer-link {
  padding-right: 35.2px;
}

.footer-logo {
  padding-left: 35.2px;
}

.footer-link a {
  color: var(--bg-color-blue);
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }

  .footer-link,
  .footer-logo {
    width: 100%;
  }

  .footer-link,
  .footer-logo {
    padding: 0;
  }
}
